.slim-table {
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-background-color: white;
}

.slim-table .slim-header {
    -fx-background-color: rgba(0, 0, 0, 0.15);
    -fx-border-width: 2px;
}

.slim-table .slim-header .slim-header-column {
    -fx-padding: 4px;
    -fx-font-weight: bold;
}

.slim-table .slim-header .slim-header-column:focused {
    -fx-border-color: -fx-focus-color;
    -fx-border-width: -fx-focus-border;
}

.slim-table .slim-rows {
    -fx-background-color: white;
}

.slim-table .slim-rows .slim-row {
    -fx-border-width: 0px 1px 0px 0px;
    -fx-border-color: rgba(0,0,0,0.3);
}

.slim-table .slim-rows .slim-row:even {
    -fx-background-color: rgba(0,0,0,0.03);
}

.slim-table .slim-rows .slim-row:hover {
    -fx-background-color: rgba(0,0,0,0.06);
}

.slim-table .slim-rows .slim-row:hover:even {
    -fx-background-color: rgba(0,0,0,0.09);
}

.slim-cell {
    -fx-border-color: rgba(0,0,0,0.1);
    -fx-border-width: 1px 1px 0px 0px;
}

.slim-cell:focused {
    -fx-border-color: -fx-focus-color;
    -fx-border: -fx-focus-border;
    -fx-border-width: 1px;
}

.slim-table .slim-footer {
    -fx-background-color: rgba(0, 0, 0, 0.15);
    -fx-border-width: 2px;
}

.slim-table .slim-footer:focused {
    -fx-border-color: -fx-focus-color;
    -fx-border-width: -fx-focus-border;
}